
h1 {
  color: #999999;
}

.tasks {
  list-style: none;

  .task .completed {
    text-decoration: line-through;
  }

  .task {
    .edit {
      display: none;
    }
    .description {
      display: inline;
    }
  }

  .task.editing {
    .edit {
      display: inline;
    }
    .description {
      display: none;
    }
  }
}